<div class="container">
    <div class="col-md-12 profile mt-4">
      <div class="card-body">

<table class=" table table-bordered table-dark mt-4 text-light">
    <tr>
      <th class="text-light">FirstName</th>
      <th class="text-light">Email</th>
      <th class="text-light">Created Date</th>
    </tr>
    <tr *ngFor="let emp of updatedemp">
      <td>{{emp.firstname}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.date | date:'shortDate'}}</td>
      <td><a (click)='delete(emp._id)'><i class="fa fa-trash" aria-hidden="true"></i></a></td>
     
    </tr>
  </table>
  <button type="button" class="btn btn-danger btn-lg btn-block" (click)='logout()'>Logout</button>
  </div>
  </div>
</div>
  
