/* .card{
    margin-top: 9rem !important;
}
.btn{
    font-size: 21px !important; 
}
span{
    font-size: 17px !important;
}
.form-group a{
    font-size: 21px !important;  
} */
.submit-button a{
    text-transform: capitalize;
    /* font-size: 15px; */
    font-weight: 700;
    color: green;
}

.submit-button span{
    text-transform: capitalize;
    font-weight: 500;
    color: black;
}