<header id="header" class="row">   

    <div class="header-logo">
     <a href="index.html">Dazzle</a>
 </div>

    <nav id="header-nav-wrap">
     <ul class="header-main-nav">
         <li class="current"><a class="smoothscroll" routerLink='/home' >Home</a></li>
         <li><a class="smoothscroll" routerLink='/admin'>Admin</a></li>
       
         <li><a class="smoothscroll"  routerLink='/driver' >Driver</a></li>
        	
     </ul>
 </nav>

 <a class="header-menu-toggle" href="#"><span>Menu</span></a>    	

</header>
