<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <div class="profile_pic">
                    <img src="https://bootsnipp.com/img/avatars/92ff0456eb6106d0c1ae8ab5f1fe0afe2d2d25f2.jpg">
                </div>
            </div>
            <div class="card-body">
                <div class="d-lfex justify-content-center flex-column">
                    <div class="name_container">
                        <div class="name">{{firstName}}</div>
                        

                    </div>
                    <div class="address">{{emailid}}</div>
                    <button type="button" class="btn btn-danger btn-block" (click)='logout()'>Log Out</button>|
                   
                </div>
                
            </div>
            
        </div>
    </div>
</div>